  <% if @pokemons.empty? %>
    <p style='text-align: center;'> Nothing here :( </p>
  <% end %>
<div class="poke-list" id='pokemonListing' >
  <% @pokemons.each do |poke| %>
    <%= render 'shared/pokemon_avatar', poke: poke %>
  <% end %>
</div>