<div class="avatar-trainer">
  <div class="avatar-info">
    <h2> <%= trainer.name %> </h2>
    <div>
      <p> Total pokemons: <%= trainer.pokemons.count %> </p>
    </div>
  </div>
    <div class="avatar-info">
     <%= link_to 'Edit', edit_trainer_path(trainer) %>
     <%= link_to 'Destroy', trainer, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
</div>
