<section class='home'>
    <div class='logo'>
    </div>
    <div class='links-container'>
      <% if trainer_signed_in? %>
        <%= link_to 'Log out', destroy_trainer_session_path, method: :delete, class: 'myLink blue' %>
      <% else %>
        <%= link_to 'Log in', new_trainer_session_path, class: 'myLink blue' %>
        <%= link_to 'Sign up', new_trainer_registration_path, class: 'myLink blue' %>
      <% end %>
    </div>
</section>
