<h1>Editing Poke Type</h1>

<%= render 'form', poke_type: @poke_type %>

<div class='links-container'>
  <%= link_to 'Show', @poke_type, class: 'myLink blue' %>
  <%= link_to 'Back', poke_types_path, class: 'myLink blue' %>
</div>
