
<h1>
  <strong>Name:</strong>
  <%= @poke_type.name %>
</h1>

<div class='links-container'>
  <%= link_to 'Edit', edit_poke_type_path(@poke_type), class: 'myLink blue' %>
  <%= link_to 'Back', poke_types_path, class: 'myLink blue' %>
</div>