<p id="notice"><%= notice %></p>
<section class="index-pokemons">
  <h1>Pokemons</h1>
    <% @pokemons.each do |pokemon| %>
      <%= render 'shared/pokemon_avatar', poke: pokemon %>
    <% end %>
  <%= link_to 'New Pokemon', new_pokemon_path, class: "my-link" %>
</section>
