/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
     --m-background:#e9e5d1;
     --d-font:#323025;
     --l-font:#a5a589;
     --d-green:#506b38;
     --l-green:#97aa4f;
     --dd-blue: #2c1d34;
     --d-blue:#2c3c6a;
     --l-blue:#6293af;
     --l-red: #9c323c;
     --d-red: #512732;
     --l-yellow: #cfb462;
 }

 html {
     background-color: #e9e5d1;
 }

 body {
    background-color: #e9e5d1;
 }

 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }