@import "./utilities.scss";

@mixin badge-style {
  font-weight: bold;
  border-radius: 50px;
  padding: 0.5rem;
  box-shadow: 5px 5px 5px grey;
  border: solid white 2px;
}

form {
  @include flex-center;

  padding: 1em;
  gap: 1em;
  width: 100%;

  .field {
    @include flex-center;

    justify-content: space-between;
    flex-direction: row;
    padding: 0.5rem;
    gap: 0.5rem;
    background-color: var(--d-blue);
    border-radius: 18px;
    width: 100%;

    label {
      padding: 1rem;
      font-size: 1rem;
      background-color: var(--l-green);
      border-radius: 18px;
      color: var(--d-green);
    }

    input {
      padding: 0.5rem 1rem;
      border-style: none;
      color: black;
      font-size: 1rem;
      border-radius: 9px;
      width: 100%;
    }

    select {
      padding: 0 1rem;
      font-size: 1.5rem;
      border-radius: 8px;
    }
  }
  .actions {
    @include flex-center;

    flex-direction: row;
    padding: 0.5rem;
    gap: 0.5rem;
    background-color: var(--d-blue);
    border-radius: 18px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px 2px rgba(58, 58, 58, 0.507);
    width: 100%;

    input {
      font-size: 2rem;
      padding: 0.5rem 2rem;
      background-color: transparent;
      border-style: none;
      color: var(--m-background);
    }
  }
}

.links-container {
  @include flex-center;
  
  gap: 1rem;
  margin: 1rem;
  width: 100%;

  a {
    @include flex-center;

    font-size: 1.5rem;
    text-decoration: none;
    background-color: var(--d-green);
    border-radius: 8px;
    padding: 1rem 0.5rem;
    text-align: center;
    color: var(--m-background);
    line-height: 1;
    box-shadow: 2px 2px 2px 2px rgba(32, 32, 32, 0.452);
    width: 100%;

    &:visited {
      color: var(--m-background);
    }
  }
}

.back-link {
  background-color: var(--l-red);
  color: var(--m-background);
  border-radius: 18px;
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;
  text-decoration: none;

  &:visited {
    color: var(--m-background);
  }
}

.badges-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  .badge-display {
    display: flex;

    form {
      padding: 0;
    }

    .button_to {
      position: relative;
      top: -12px;
      right: 10px;
      margin: 0;

      input[type="submit"] {
        background-color: var(--l-red);
        border: none;
        border-radius: 100%;
        padding: 0.2em;
        color: var(--m-background);
        font-weight: bold;
      }
    }
    .badge {
      font-weight: bold;
      &-normal,
      &-fighting,
      &-ground,
      &-rock,
      &-unknown {
        @include badge-style;
        background-color: var(--d-red);
        color: var(--m-background);
      }
      &-fire,
      &-dragon,
      &-electric,
      &-psychic,
      &-flying {
        @include badge-style;
        background-color: var(--l-yellow);
        color: var(--d-blue);
      }
      &-poison,
      &-bug,
      &-grass,
      &-fairy {
        @include badge-style;
        background-color: var(--d-green);
        color: var(--l-yellow);
      }
      &-ghost,
      &-steel,
      &-water,
      &-ice,
      &-shadow,
      &-dark {
        @include badge-style;
        background-color: var(--d-blue);
        color: var(--m-background);
      }
      &-blue {
        @include badge-style;
        background-color: var(--d-blue);
        color: var(--m-background);
      }
      &-red {
        @include badge-style;
        background-color: var(--d-red);
        color: var(--m-background);
      }
      &-yellow {
        @include badge-style;
        background-color: var(--m-background);
        color: var(--d-blue);
      }
      &-green {
        @include badge-style;
        color: var(--d-green);
        background-color: var(--m-background);
      }
    }
  }
}

a.my-link {
  background-color: var(--d-blue);
  color: var(--m-background);
  text-decoration: none;
  padding: 1em 3em;
  border-radius: 30px;
  font-weight: bold;
  box-shadow: 5px 5px 5px grey;
  margin: 2rem;

  &:visited {
    color: var(--m-background);
  }
}

@include desktop-screen {
  form {
    .field {
      width: 50%;
    }
    .actions {
      width: 50%;
    }
  }

  .links-container {
    width: 50%;
    a {
      &:visited {
        color: var(--m-background);
      }
    }
  }

  .back-link {

    &:visited {
      color: var(--m-background);
    }
  }
}
