@import './utilities.scss';

@include small-screen {
    .main-container {
        @include flex-center;

        border-radius: 10px;
        background-color: var(--l-blue);
        width: 100%;
        
        h1 {
            padding: 1em;
            font-size: 2rem;
            color: var(--d-blue);
        }

        h2 {
            padding: 1rem;
            font-size: 2rem;
            color: var(--m-background)
        }
        p {
            font-size: 2rem;
            padding: 0.5rem;
        }
    }
}
