// Place all the styles related to the MobileMenu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import './utilities.scss';

.modal-section {
  background: rgba(0, 0, 0, 0.527);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;

  .modal {
    width: 200px;
    height: 400px;
    background-color: rgb(43, 43, 43);
    border-radius: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    animation: dropdown 0.3s ease-in;
    transform-origin: top;
    position: absolute;
    top: 50px;
    right: 0;

    .modal-window {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      padding: 1em;

      a {
        text-align: center;
        text-decoration: none;
        background-color: var(--d-blue);
        padding: 1em;
        border: none;
        border-radius: 8px;
        color: white;
        font-weight: bold;
        font-size: 1rem;
      }
    }
  }

  @keyframes dropdown {
    from {
      transform: scaleY(0);
    }

    to {
      transform: scaleY(1);
    }
  }
}

nav {
  @include flex-center;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--l-red);
  width: 100vw;
  height: 50px;
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.39);

  a {
    // background-color: var(--m-background);
    border-radius: 8px;
    padding: 0.5rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--d-blue);
    &:hover {
      background-color: transparent;
      transform: scale(1.1);
    }
  }
}