// Place all the styles related to the Pokemons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import './utilities.scss';

@include small-screen {
    .poke-card {
        @include flex-center;

        background-color: var(--l-green);
        border-radius: 20px 40px;
        width: 90%;
        padding: 1em;

        .poke-name {
            font-size: 1rem;
            padding: 1em;
            margin-top: 1rem;
            background-color: var(--d-blue);
            color: var(--m-background);
            border-radius: 25px;
            box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.507);
        }

        img {
            width: 200px;
            height: 200px;
            image-rendering: pixelated;
            image-rendering: -moz-crisp-edges;
            image-rendering: crisp-edges;
        }
    }
}