// Place all the styles related to the Pokemons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import './utilities.scss';

@include small-screen {
    .poke-card {
        @include flex-center;

        background-color: var(--l-green);
        border-radius: 20px 40px;
        margin: 1em;

        img {
            width: 200px;
            height: 200px;
            image-rendering: pixelated;
            image-rendering: -moz-crisp-edges;
            image-rendering: crisp-edges;
        }
    }
}