.search-bar {
  display: flex;
  justify-content: center;
  flex-direction: column;

  background-color: var(--l-blue);
  width: 100vw;

  form {
    display: flex;
    flex-direction: row;
  }

  input {
    background-color: var(--m-background);
    color: var(--d-font);
    border-radius: 8px;
    border: none;
    padding: 0.5rem;
    font-weight: bold;
  }

  #search_this {
    background-color: var(--m-background);
    border-radius: 8px;
  }

  .order-btn-container {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
  }
}