@mixin small-screen {
  @media (max-width: 450px) { @content; }
}

@mixin desktop-screen {
  @media (min-width: 410px ) { @content }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
