<section class='index-container'>
  <br>
  <h1>Editing Trainer</h1>
  <br>

  <%= render 'form', trainer: @trainer %>

  <div class='links-container'>
    <%= link_to 'Show', @trainer, class:'myLink green' %>
    <%= link_to 'Back', trainers_path, class:'myLink green' %>
  </div>
</section>