<% unless notice.nil? %>
  <p id="notice"><%= notice %></p>
<% end %>


<section class="index-trainers">
  <h1>Trainers</h1>
  <div class="list">
    <% @trainers.each do |trainer| %>
      <%= render 'shared/trainer_avatar', trainer: trainer %>
    <% end %>
  </div>
  <div class="links-container">
    <%= link_to 'Log in', new_trainer_session_path, class: 'my-link' %>
    <%= link_to 'Sign up', new_trainer_registration_path, class: 'my-link' %>
  </div>
</section>

