<p id="notice"><%= notice %></p>

<section class="index-trainers">
  <h1>Trainers</h1>
    <% @trainers.each do |trainer| %>
      <%= render 'shared/trainer_avatar', trainer: trainer %>
    <% end %>
  <%= link_to 'New Trainer', new_trainer_path, class: 'my-link' %>
</section>